<template name="reviewOrderDocket">
    
    
<div class="row">
    <div class="col s12">
        <h4>Review Order</h4>
        <div class="divider"></div>
    </div>
    {{#each getCurrentOrder }}
        <div class="col s12">
            <p>{{ name }} <small>x{{ quantity }}</small>  <span class="right">&#8377; {{ price }}</span></p>
            <div class="divider"></div>
        </div>
    {{/each}}
    <div class="col s12">
        <p><strong>Total <span class="right">&#8377; {{ getOrderTotal }}</span></strong></p>
    </div>
    

    <div class="divider"></div>
    <div class="col s12">
        <h4>Note for chef</h4>
        <textarea name="" id="note" class="noteChef"> </textarea>
    </div>
      
    <p>&nbsp;</p>
    <div class="btn orange col s10 waves-effect waves-light offset-s1 js-place-order">Place Order</div>
 
</div>  

</template>