<template name="waitingNav">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#tables">TABLES</a></li>
        <li class="tab col s3"><a class="active" href="#c-orders">ORDERS</a></li>
        <li class="tab col s3"><a href="#n-orders">NEW</a></li>
      </ul>
    </div>
  </div>
         <ul class="right">
    <a href="#" class="btn-floating btn-large waves-effect waves-light white right js-logout"><i class="material-icons grey-text">power_settings_new</i></a>
  </ul>
</template>	