<template name="adminKitchen">
	{{> adminNav}}

	<main class="main-container main-container-admin">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h3 class="header">Kitchen</h3>
					<div class="section processing">
						<table>
					        <thead>
					        	<tr>
						        	<th data-field="name" class="item">Item</th>
						            <th data-field="waiter_name" class="item">Table</th>
					        	</tr>
					        </thead>
					        <tbody>
				        		<tr class="item_processing">
				            		<td class="item">Pizza by the bay</td>
				            		<td class="item">22</td>
				          		</tr>
				          		<tr class="item_queued">
				            		<td class="item">Pizza by the bay</td>
				            		<td class="item">22</td>
				          		</tr>
				          		<tr class="item_completed">
				            		<td class="item">Pizza by the bay</td>
				            		<td class="item">22</td>
				          		</tr><tr class="item_completed">
				            		<td class="item">Pizza by the bay</td>
				            		<td class="item">22</td>
				          		</tr>
				        	</tbody>
				        </table>
					</div>
			
				</div>
			</div>
		</div>
	</main>
</template>